name: Caching and Artifacts
on: [workflow_dispatch]

jobs: 
    use-axions:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - name: Cache node modules
            id: cache-node-modules
            uses: actions/cache@v3
            with:
                path: ~/.npm
                key: ${{runner.os}}-npm-cache-${{ hashFiles('**/package-lock.json') }}
                restore-keys: |
                    ${{ runner.os }}npm-cache-
                    ${{ runner.os }}-
          - name: Display Cache Output 
            run: echo '${{toJSON(steps.cache-node-modules.outputs) }}'
          - name: Install dependencies
            run: npm install
          - name: User Axios
            uses: actions/github-script@v6
            with:
                script: |
                 const anxios = require('axios');
                 const res = await anxios.get('https://icanhazdadjoke.com/', { headers: { Accept: 'text/plain' } })
                 console.log(res.data)