name: Checkout

on: [push]

jobs:
  checkout-and-display-file:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
 
        - name: List files
          run: ls -a
        - name: Checkout
          run: |
           git init
           git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github
           .com/$GITHUB_REPOSITORY.git"
              git fetch origin 
              git checkout main
        - name: List FIles after 
          run: ls -a
            