name: Dynamic matrixs

on: 
  workflow_dispatch:
    inputs:
      node-version:
        description: 'Node Version'
        required: true
        default: "14,15,16,17,18"
        type: string
      os:
        description: 'Operating System'
        required: true
        default: "windows-latest,ubuntu-latest"
        type: string

jobs: 
  prepared-matrix:
     runs-on: ubuntu-latest
     steps:
      - uses: actions/github-script@v6
        id: matrix-arrays
        with:
          script: "return {os: context.payload.inputs['os'].split(','),'node-version': context.payload.inputs['node-version'].split(',')}"
          result-encoding: json
      - run: echo '${{ steps.matrix-arrays.outputs.result }}'
      - run: echo "step-output=value" >> $GITHUB_OUTPUT
        id: step1
      - run: echo "step-output=value2" >> $GITHUB_OUTPUT
        id: step2
      - run: |
          echo '${{ steps.step1.outputs.step-output }}'
          echo '${{ steps.step2.outputs.step-output }}'

  node-matrix:
        strategy:
            matrix:
                node-version: [12, 14,16]
                os: [ubuntu-latest, windows-latest]
                       
        runs-on: ${{ matrix.os }}
        steps:
       
            - run: node -v
            - uses: actions/setup-node@v3
              with:
               node-version: ${{ matrix.node-version}}
            - run: node -v
 





 