name: First workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps: 
          - name: Checkout
            uses: actions/checkout@v2
          - name: Echo a string 
            run: echo "hello fucking world!! 7u7"
          - name: Multiline Command
            run: |
               node -v
               npm -v
    parallel-job-macos:
        runs-on: macos-latest
        steps:
          - name: View SW version   
            run: sw_vers

    dependant-job:
        runs-on: windows-lates
        needs: build
        steps:
           - name: echo a string 
             run: Whrite-Output "Windows String"
             