name: Matrix 

on: [push]

jobs: 
    node-matrix:
        # if one job fails the other will continue normally
        # it makes the work flow continues even though one fails and if that happends the others jobs will be cancelled
        continue-on-error: true
         
        strategy:
            matrix:
                node-version: [12, 14,16]
                os: [ubuntu-latest, windows-latest]
                include:
                    - os: ubuntu-latest
                      is-ubuntu: true
                    - os: macs-latest
                      node-version: 15
                    - experimental: false
                    - os: ubuntu-latest
                      node-version: 16
                      experimental: true
                    - os: ubuntu-latest
                      node-version: 17
                      experimental: true
                exclude:
                    - os: windows-latest
                      node-version: 12
                    
            fail-fast: false
            max-parallel: 12
        runs-on: ${{ matrix.os }}
        steps:
            - run: node -v
            - run: echo '${{toJson(matrix)}}'
            - uses: actions/setup-node@v3
              with:
               node-version: ${{ matrix.node-version}}
            - run: node -v
 





#---------- comments ----------------#


# by default if one job of the matrix fail the other that are pending will fail, to modify that we use this that if one job fails, the others will continue normally t
# the default value is true
#also fail-fast will prevent that if one job fail the others jobs of beeing cancelled
# fail-fast: false
# it limits the number of parallel jobs
#  max-parallel: 12
# is for adding aditional jobs to the matrix, if one off this 
#parameters don't override the matrix, it will be added to the matrix
# other wise it will override or merge to the elements that already are on the matrix
# if i include ubuntu-18.04 it will be added to the matrix
#includes:
   # - os: ubuntu-latest
   #   is-ubuntu: true 