name: Simple action with compose own actions

on: [push]

jobs:
    simple-action:
        runs-on: ubuntu-latest
        steps:
            - name: check repository
              uses: actions/checkout@v3
            - name: Send a Joke on Slack
              uses: ./.github/actions/slack-joke
              id: slack-joke
              with:
                slack_username: 'Christopher Jimenez'
                upload_joke: true
                slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
            - name: Displaying joke output 
              run: echo '${{ steps.send-joke.outputs.joke}}'
         