name: Status Check Functions

on: [push]

jobs:
    job-1:
        runs-on: ubuntu-latest
        steps:
            - name: Step 1
              run: sleep 20
            - name: Step 2
              id: step2
              run: exit 1
            - name: Runs on failure
              if: failure() && steps.step2.conclusion == 'failure'
              run: echo "Stepp 2 has failed"
            - name: Runs on success
              if: success()
              run: echo "This job ran on success"
            - name: Always runs
            #  if: success() || failure()
              if: always()
              run: echo "This job always runs"
            - name: Runs when cancelled
              if: cancelled()
              run: echo "This job was cancelled"
    job-2:
        runs-on: ubuntu-latest
        needs: job-1
        if: failure()
        steps:
            - run: echo "job2"