name: Calling REusable Workflows

on:
    workflow_dispatch:
        inputs:
            name: 
                description: 'input description'
                required: true
                default: 'Chris'
                type: string

jobs:
    calling-a-reusable-wf:
        uses: chris281854/pruebacdci/.github/workflows/reusablewf.yml@main

        with:
            name: ${{ github.event.inputs.name }}
        secrets:
            access-token: ${{ secrets.ACCESS_TOKEN }}

    calling-a-reusable-wf-local:
        uses: ./.github/workflows/reusable-wf-op.yml
        secrets: inherit
       

    using-reusable-wf-output:
        runs-on: ubuntu-latest
        needs: calling-a-reusable-wf-local
        steps:
            - run: echo ${{ needs.calling-a-reusable-wf-local.outputs.date}}
         
      