name: Working Dirs & Shells
on: [push]
defaults:
  run:
    shell: bash
   # working-directory: /

jobs:
    display-wd-info:
        runs-on: ubuntu-latest
        steps:
            - name: Display Working Directory
              run:  |
               pwd
               ls -a
               echo $GITHUB_SHA
               echo $GITHUB_REPOSITORY
               echo $GITHUB_WORKSPACE
            -  name: Changing Working Directory
               working-directory: /home/runner
               run: pwd
             
    
    Display-wd-info-windows:
        runs-on: windows-latest
        defaults:
          run:
             shell: pwsh
        steps:
          - name: Display Working Directory
            run:  |
               Get-Location
                dir
                echo $env:GITHUB_SHA
                echo $env:GITHUB_REPOSITORY
                echo $env:GITHUB_WORKSPACE
          -  name: Python shell
             shell: Python
             run:  |
                import platform
                print(platform.processor())
        
            
    